[Desktop Entry]
Name=Eclipse
Comment=Eclipse
Comment[pl]=Eclipse
Exec=eclipse
Icon=eclipse-icon
Terminal=false
MultipleArgs=false
Type=Application
Categories=Development;IDE;
# vi: encoding=utf-8
